<% include ../partials/header %>
    
    <div class = "ui inverted segment container">
        <div>
            <a href = "/strains/new">
                <button class = "large ui primary button">Submit a New Strain</button>
            </a>
        </div>
        <% strain.forEach(function(strain){%>
            <div class="ui internally celled grid">
                <div class="row">
                    <div class="three wide column">
                        <a href="http://google.com" class="ui small image">
                            <img src = "<%= strain.image%>">
                        </a>
                    </div>
                    <div class="ten wide column">
                        <div>
                            <a href ="/strains/<%= strain._id%>"><strong><h3><%= strain.name%></h3></strong></a>
                        </div>
                        <p><%= strain.description%></p>
                    </div>
                    <div class="three wide column">
                        <p id = "strain-author">
                            <em>
                                Submitted by: <a href = "/strains/user/<%= strain.author.id%>"><%= strain.author.username%></a>
                            </em>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
        <% });%>
    </div>

<% include ../partials/footer %>